[Color]
game=383254527
text=4294967295
background=383254527
[Path]
gameOverSound=Sound/gameover.wav
rotateSound=Sound/rotate.wav
pauseSound=Sound/pause.wav
gameSound=Sound/sound.wav
blocks=blocksMap.map
blocksColor=blocksColor.txt
[Value]
soundOn=1
muzOn=1
gameBlockH=18
gameBlockW=10
[Volume]
sounds=100
muz=30
[Size]
heigh=810
